.project__Link {
  text-decoration: none;
  border-bottom: 1px solid #dedede;
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  display: flex;
  align-items: center;
  margin: 0 80px;
  height: 130px;
  width: 100%;
}
.project__Link:hover {
  border-color: #0288d1;
}

.project__Link svg {
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

.project__Link:hover svg {
  transform: translateX(15px);
  color: #0288d1;
}
.project__Link img {
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

.project__Link:hover img {
  opacity: 0.5;
}
